p.sc_para_contant {
    font-size: 20px;
    padding-bottom: 50px;
}

p.sc_loc_area_sec_item {
    font-size: 23px;
}

h2.sc_title.sc_title_underline.sc_item {
    font-size: 26px;
}
h2.fashion_sc_title {
    font-size: 39px;
    color: #fff;
    padding-top: 28px;
}

